.home-container{
    padding-top: 15%;
    width: 100%;
    display: grid;
    align-items: center;
}

h1{
    text-align: center;
    font-family:'Big Shoulders Stencil';
    font-weight: 500;
    font-size: 4rem;
}

p{
    text-align: center;
    font-family:'Big Shoulders Stencil';
    font-weight: 400;
    font-size: 2.5rem;
}

.link{
    text-align: center;
    font-family:'Big Shoulders Stencil';
    font-weight: 400;
    font-size: 2.5rem;
}